@model HouseIntroductions.IntroductionViewModels.IntroductionsViewModel
@using House.DataServices.House1.Models;
@using System;

@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="col-12">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
        <strong>Notice!</strong> Minnesota House of Representatives website has recently been updated, if you have any issues
        please let us know at <a href="mailto:Webmaster@house.mn">Webmaster@house.mn</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    
    <div class="container">
        
        <hr />
    </div>
    
</div>

<div class="col-sm-12 col-md-8 col-lg-8 pb-3">
    <!-- begin column -->

    <h1 class="leg-portal-header">@Model.ActiveSession.HeaderDisplay</h1>
    @if (Model.ActiveSession.IsEnabled)
    {
        <div class="container">
            <p>
                <a href="https://public.govdelivery.com/accounts/MNHOUSE/subscriber/new?topic_id=MNHOUSE_4">E-mail notification</a>  - Receive an e-mail when House Introductions are made available..<br />
            </p>
        </div>
    }


    <ul class="list-unstyled">
        @if (Model.IntroductionLineItems.Count() > 0)
        {
            if(Model.ActiveSession.IsEnabled)
            { 
                <li style="display: flex; justify-content: left; align-items: left;">
                    <a href="/IntroductionsDetail/Index?date=@(DateTime.Now)&session=@(Model.ActiveSession.SessionNumber)&session_number=@(Model.ActiveSession.SessionType)&All=true">All House Bill introductions from current biennium</a>
                </li>
            }
            
            foreach (House.DataServices.House1.Models.IntroductionLineItem line in Model.IntroductionLineItems)
            {
                <li style="display: flex; justify-content: left; align-items: left;">

                    @if (@line.FirstBillNumber == @line.LastBillNumber)
                    {
                        <span>House File Numbers @Html.Raw("&nbsp")<a href="/IntroductionsDetail/Index?date=@(line.Date)&session=@(Model.ActiveSession.SessionNumber)&session_number=@(Model.ActiveSession.SessionType)">@line.FirstBillNumber</a>, introduced on @line.Date.ToString("dddd, MMMM d, yyyy")</span>
                    }
                    else
                    {
                        <span>House File Numbers @Html.Raw("&nbsp")<a href="/IntroductionsDetail/Index?date=@(line.Date)&session=@(Model.ActiveSession.SessionNumber)&session_number=@(Model.ActiveSession.SessionType)">@line.FirstBillNumber - @line.LastBillNumber</a>, introduced on @line.Date.ToString("dddd, MMMM d, yyyy")</span>
                    }



                    @if (line.DisplayPDF)
                    {
                        @Html.Raw("&nbsp") <a href="http://www.house.mn.gov/ccodoc/intros/@(line.FileName)">PDF</a>
                    }

                </li>
            }
        }
    </ul>

</div>  <!-- end column -->

<div class="col-sm-12 col-md-4 col-lg-4">
    <!-- begin column -->
    
    <div class="card calendar mb-3">
        <h3 class="card-title text-house text-center bg-light p-2">Other Legislative Sessions</h3>
        <div class="card-body">
            @*Put links to the other legislative sessions here.*@
            <ul class="list-unstyled">
                @if (Model.Sessions.Count() > 0)
                {
                    foreach (House.DataServices.House1.Models.IntroductionSession session in Model.Sessions)
                    {
                        <li>
                            <a href="/Introductions/Index/@(session.SessionKey)">@session.SessionDisplay</a>
                        </li>
                    }
                }
            </ul>


        </div>

    </div>
    <SCRIPT>
        function openScript(url, width, height) {
            var Win = window.open(url, "openScript", 'width=' + width + ',height=' + height +
                ',resizable=0,scrollbars=1,menubar=1,status=no');
        }
        


    </SCRIPT>




</div>  <!-- end column -->
